<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160062857426-3kdqljhag3t7nvf45nrchpfjq39mgkmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160062857426-3kdqljhag3t7nvf45nrchpfjq39mgkmm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>160062857426-nd47pb2qab54pkbd42oeac2aae7dda2k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0pu_dbRLQtbHAFg0T0KEZlas6qwiEFmI</string>
	<key>GCM_SENDER_ID</key>
	<string>160062857426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alex.youtubeClicker</string>
	<key>PROJECT_ID</key>
	<string>youtube-clicker</string>
	<key>STORAGE_BUCKET</key>
	<string>youtube-clicker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160062857426:ios:cbbf2af8983f8aa07d8d0b</string>
</dict>
</plist>